<h1>Beer Styles:</h1>

<ul class="list-group">
<% @styles.each do |style| %>
    <li class="list-group-item"><%= link_to style.name, style %></li>
<% end %>
</ul>
<p>
  <%= link_to 'New Style', new_style_path, class:'btn btn-primary' if current_user %>
</p>